{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}

{% block page_header %}
    <p><h3><a href="{% url 'learning_logs:topic' topic.id %}">{{ topic }}</a></h3></p>
{% endblock page_header %}

{% block content %}
    <p>Add a new entry</p>

    <form method="post" action="{% url 'learning_logs:new_entry' topic.id %}">
        {% csrf_token %}
        {% bootstrap_form form%}
            {% buttons %}
                <button name="submit" class="btn btn-primary">Add</button>
            {% endbuttons %}
        <input type="hidden" name="next" value="{% url 'learning_logs:topic' topic.id%}" />
    </form>

{% endblock content %}
